asgiref==3.3.4
certifi==2021.5.30
click==8.0.1
cmake==3.20.5
Django==3.2.4
djangorestframework==3.12.4
dlib==19.22.0
drf-expiring-token==1.1.2
face-recognition==1.3.0
face-recognition-models==0.3.0
numpy==1.21.0
opencv-python==4.5.3.56
pandas==1.3.0
Pillow==8.3.0
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
